@{
    ViewData["Title"] = "Home Page";
}

<!-- Need to set the username for use with SignalR -->
@{
    var username = Context.User.Identity.Name;
}

<div class="container">
    <div class="row">
        <div class="container col-md-10 mx-auto">
            <div id="messagesList" class="overflow-auto d-flex flex-column" style="height: 50vh"></div>
        </div>
        <div class="w-100"></div>
        <div class="input-group col-md-10 mx-auto">
            <input id="messageInput" type="text" class="form-control" placeholder="Message" aria-label="Message" aria-describedby="button-addon2">
            <div class="input-group-append">
                <button class="btn btn-info" type="button" id="sendButton">
                    <i class="far fa-paper-plane"></i>
                </button>
            </div>
        </div>
    </div>
</div>