@{
    ViewData["Title"] = "Home Page";
}


<div class="container">
    MessageBox Here!
</div>
<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Message" aria-label="Message" aria-describedby="button-addon2">
    <div class="input-group-append">
        <button class="btn btn-info" type="button" id="button-addon2">
            <i class="far fa-paper-plane"></i>
        </button>
    </div>
</div>